@media screen and (min-width: 768px) {
  .code-snippet {
    display: flex;
  }
}
/* .btn {
  min-width: 150px;
} */
.btn,
.select {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  font-size: 13px;
  height: 30px;
  background-color: #0000000d;
  color: #0e0e10;
  padding: 0 20px;
}
.btn:hover {
  background-color: #0000001a;
}
.btn,
.select {
  margin: 10px;
  margin-top: 15px;
}
